<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>xamarin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/postgres</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>


    <servlet>
        <servlet-name>GetServlet</servlet-name>
        <servlet-class>com.daesangit.xamarin.webapp.GetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetServletForJSON</servlet-name>
        <servlet-class>com.daesangit.xamarin.webapp.SetServletForJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizationServer</servlet-name>
        <servlet-class>com.daesangit.xamarin.auth.AuthorizationServer</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GetServlet</servlet-name>
        <url-pattern>/GetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetServletForJSON</servlet-name>
        <url-pattern>/SetServletForJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizationServer</servlet-name>
        <url-pattern>/AuthorizationServer</url-pattern>
    </servlet-mapping>

    <mime-mapping>
        <extension>apk</extension>
        <mime-type>application/vnd.android.package-archive</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ipa</extension>
        <mime-type>application/octet-stream</mime-type>
    </mime-mapping>
        
</web-app>